# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Ambiente
.env
.venv/
venv/
env/

# Banco de dados
*.db
*.db-journal
*.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backups
*.backup
*.bak
